[client]
port=3306
socket              = /Volumes/To/repos/mysql/mysql.sock

[mysqld]
port                    = 3306
key-buffer-size         = 16M
max-allowed-packet      = 128M
max_connections         = 10000
basedir                 = /Users/yakir/local/mysql
pid-file                = /Volumes/To/repos/mysql/mysql.pid
socket                  = /Volumes/To/repos/mysql/mysql.sock
datadir                 = /Volumes/To/repos/mysql/data/
log-error               = /Volumes/To/repos/mysql/logs/error.log
secure-file-priv        = NULL
symbolic-links          = FALSE
# ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
ssl                     = FALSE
sql-mode                = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
tmpdir                  = /Volumes/To/repos/mysql/tmpdir
lower-case-table-names  = 2

# Custom config should go here
# !includedir /etc/mysql/conf.d/

slow-query-log      = true
slow-query-log-file = /Volumes/To/repos/mysql/logs/ykmac-slow.log
log-bin             = mysql-bin
binlog-format       = ROW
server-id           = 1
log-bin-index       = mysql-log

default-time-zone   = '+08:00'

[mysqldump]
quick
